.Container {
  border: 1px solid #eee;
  position: absolute;
  right: 15%;
  width: 30rem;
  border-radius: 3px;
}

.Banner {
  background-color: #0c4b32;
}

.Banner p {
  margin: 0;
  padding: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}

<<<<<<< HEAD
.CreatePostBtn {
  width: 12.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Link {
  text-decoration: none;
  color: #fff;
=======
.InnerWrapper,
.BtnAndDateWrapper {
  padding: 1rem;
}

.InnerWrapper {
  font-size: 1.4rem;
  line-height: 2.1rem;
>>>>>>> GroupPage
}
