.CreateThreadContainer,
.GroupPageContainer {
  border: 1px solid #999;
  position: absolute;

  left: calc(85% - 25rem);
  width: 25rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.GroupPageContainer {
  top: 22.2rem;
}

.CreateThreadContainer {
  top: 17.5rem;
}

.Banner {
  background-color: #0c4b32;
  width: 100%;
  text-align: center;
}

.Banner p {
  margin: 0;
  padding: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
}

.InnerWrapper {
  padding: 1rem;
}

.InnerWrapper p {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d9d9d9;
}

.BtnAndDateWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: end;
}

.CreatePostBtn {
  width: 12.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.Link {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 1450px) {
  .GroupPageContainer {
    left: calc(90% - 25rem);
  }
}

@media only screen and (max-width: 1250px) {
  .GroupPageContainer {
    left: calc(95% - 25rem);
  }
}

@media only screen and (max-width: 1100px) {
  .GroupPageContainer {
    left: calc(99% - 25rem);
  }
}

@media only screen and (max-width: 1050px) {
  .GroupPageContainer {
    display: none;
  }
}
