.NavItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 100%;
  width: 100%;
}

.NavItemsRight,
.NavItemsLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavItemsLeft {
  width: 40%;
}

.NavItemsRight {
  width: 25%;
}

.active {
  border-bottom: none;
}
