.Vote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vertical {
  flex-direction: column;
  height: 100%;
}

.VoteBtn {
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  transition: all 0.2s;
}

.VoteBtn svg {
  transition: all 0.2s;
  height: 3rem;
}

.VoteBtn:hover {
  background-color: #eee;
}

.VoteBtn:hover svg {
  color: red;
}

.LikesCount {
  display: inline-block;
  margin: 0;
}
