.Banner {
  height: 5rem;
  width: 75rem;
  background-color: #fff;
  padding: 0 1.6rem;
  border-radius: 1rem;
  border: 1px solid #d9d9d9;
  margin-left: 0;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn {
  width: 20rem;
  height: 3rem;
}

.Btn:not(:last-child) {
  margin-right: 2rem;
}

@media only screen and (max-width: 800px) {
  .Banner {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .Btn {
    width: 33%;
  }

  .Banner {
    padding: 0rem 0.3rem;
  }

  .Btn:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .Btn {
    height: 5rem;
  }

  .Banner {
    height: 6rem;
  }
}

@media only screen and (max-width: 500px) {
  .Banner {
    width: 95%;
  }
}

@media only screen and (max-width: 425px) {
  .Banner {
    height: 12rem;
    flex-direction: column;
  }

  .Btn {
    height: 3rem;
    width: 20rem;
  }

  .Btn:not(:last-child) {
    margin-bottom: 1rem;
  }
}
