.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  height: 4rem;

  margin-bottom: 3rem;
}

.Svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.Svg:hover {
  cursor: pointer;
}

.CancelBtn {
  width: 8rem;
  height: 2.6rem;
}

.ConfirmBtn {
  width: 16rem;
  height: 2.6rem;

  margin-right: 2rem;
  margin-left: 4rem;
}

.Footer {
  height: 5rem;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-bottom: 1rem;
  background-color: #edeff1;
  border-top: 1px solid #c6ccd2;
  margin-top: 5rem;
}

.Error {
  color: red;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translateX(-50%);
}

.CharCounter {
  width: 70%;
  display: flex;
  margin: 0 auto;
}
