.Btn {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 1.8rem;
  background-color: var(--color-dark-blue);
  border-radius: 1rem;
  padding: 0 1.6rem;
  transition: all 0.2s;
  color: var(--color-white);
  border-style: none;
  height: 5rem;
  width: 75rem;
}

.Btn:hover {
  background-color: var(--color-dark-blue-hover);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .Btn {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .Btn {
    width: 95%;
  }
}
