.Modal {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 50%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #000;
  padding: 1.6rem;
  left: 25%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
