.Modal {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 30%;
  border: 1px solid #d9d9d9;
  border-radius: 1rem;

  left: 35%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
