.CreateThread {
  padding: 10rem 15rem;
  flex-direction: column;
  position: relative;
}

.HeaderWrapper {
  border-bottom: 1px solid #eee;
  margin-left: 3rem;
}

.H1 {
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.InputWrapper {
  margin-top: 3rem;
  margin-left: 3rem;
}
