.SelectWrapper {
  width: 60rem;
}

.TextInput {
  padding: 0.2rem;
  border: 2px solid #eee;
  width: 21rem;
  height: 3.4rem;
  border-radius: 5px;
  transition: border 0.2s;
}

.InputAsteric {
  position: absolute;
  margin-left: 0.3rem;
  top: -0.3rem;
  left: 100%;
  font-size: 2rem;
}

.TextInput::placeholder,
.GroupDescription::placeholder {
  color: #4d4d4d;
  font-size: 1.6rem;
}

.TextInput:focus,
.GroupDescription:focus {
  outline: none;
  border: 2px solid #d9d9d9;
}

.LoginInputWrapper,
.RegisterInputWrapper,
.GroupNameWrapper,
.GroupDescriptionWrapper {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 2.5rem auto;
}

.ThreadTitleWrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ThreadTitleInput {
  width: 100%;
}

.GroupNameWrapper {
  width: 70%;
}

.GroupDescriptionWrapper {
  margin: 0 auto;
  width: 70%;
}

.PostInputWrapper {
  width: 50%;
}

.ReplyInputWrapper {
  width: 90%;
  margin-left: 5%;
}

.InitialReplyWrapper {
  margin-left: 1rem;
}

.GroupDescription,
.PostInput,
.ReplyInput {
  width: 100%;
  height: 15rem;
  padding: 0.2rem;
  border: 2px solid #eee;
  border-radius: 5px;
  resize: vertical;
  transition: border 0.2s;
}

.PostInput:focus,
.GroupDescription:focus,
.ReplyInput:focus {
  outline: none;
  border: 2px solid #d9d9d9;
}

.InputError {
  position: absolute;
  right: 0;
  bottom: -2rem;
  margin: 0;
  color: red;
}

/* Needs to remain at the bottom so it is the last class applied */
.Invalid {
  border: 1px solid red;
}

@media only screen and (max-width: 1100px) {
  .GroupNameWrapper,
  .GroupDescriptionWrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .GroupNameWrapper {
    flex-direction: column;
  }

  .GroupNameWrapper label {
    margin-bottom: 1rem;
  }

  .GroupNameWrapper .InputAsteric {
    top: 2.7rem;
    left: calc((100% + 21rem) / 2);
  }
}

@media only screen and (max-width: 500px) {
  .LoginInputWrapper,
  .RegisterInputWrapper {
    width: 25rem;
    flex-direction: column;
  }

  .LoginInputWrapper label,
  .RegisterInputWrapper label {
    margin-bottom: 1rem;
  }

  .LoginInputWrapper .InputAsteric,
  .RegisterInputWrapper .InputAsteric {
    top: 2.5rem;
    left: calc((100% + 21rem) / 2);
  }
}
