.SelectWrapper {
  width: 60rem;
}

.TextInput {
  padding: 0.2rem;
  border: 2px solid #eee;
  width: 21rem;
  height: 3.4rem;
  border-radius: 5px;
}

/* Why does this need to repeat properties from TextInput? */
.Invalid {
  border: 2px solid var(--color-red);
  background-color: #fda49a;
}

.InputAsteric {
  position: absolute;
  margin-left: 0.3rem;
  top: -0.3rem;
  left: 100%;
  font-size: 2rem;
}

.TextInput::placeholder,
.GroupDescription::placeholder {
  color: #4d4d4d;
  font-size: 1.6rem;
}

.Invalid::placeholder {
  font-weight: 700;
  color: #000;
}

.TextInput:focus,
.GroupDescription:focus {
  outline: none;
}

.LoginInputWrapper,
.RegisterInputWrapper,
.GroupNameWrapper,
.GroupDescriptionWrapper {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1.5rem auto;
}

.GroupNameWrapper {
  width: 70%;
}

.GroupDescriptionWrapper {
  margin: 0 auto;
  width: 70%;
}

.GroupDescription {
  width: 100%;
  height: 15rem;
  padding: 0.2rem;
  border: 2px solid #eee;
  border-radius: 5px;
}
