.SelectWrapper {
  width: 60rem;
}

.TextInput {
  padding: 0.2rem;
  border: 2px solid #eee;
  width: 21rem;
  height: 3.4rem;
  border-radius: 5px;
}

/* Why does this need to repeat properties from TextInput? */

.InputAsteric {
  position: absolute;
  margin-left: 0.3rem;
  top: -0.3rem;
  left: 100%;
  font-size: 2rem;
}

.TextInput::placeholder,
.GroupDescription::placeholder {
  color: #4d4d4d;
  font-size: 1.6rem;
}

.TextInput:focus,
.GroupDescription:focus {
  outline: none;
}

.LoginInputWrapper,
.RegisterInputWrapper,
.GroupNameWrapper,
.GroupDescriptionWrapper {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 2.5rem auto;
}

.ThreadTitleWrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ThreadTitleInput {
  width: 100%;
}

.GroupNameWrapper {
  width: 70%;
}

.GroupDescriptionWrapper {
  margin: 0 auto;
  width: 70%;
}

.PostInputWrapper {
  width: 50%;
}

.ReplyInputWrapper {
  width: 90%;
  margin-left: 5%;
}

.InitialReplyWrapper {
  margin-left: 1rem;
}

.GroupDescription,
.PostInput,
.ReplyInput {
  width: 100%;
  height: 15rem;
  padding: 0.2rem;
  border: 2px solid #eee;
  border-radius: 5px;
}

.PostInput:focus,
.GroupDescription:focus,
.ReplyInput {
  outline: none;
}

.InputError {
  position: absolute;
  right: 0;
  bottom: -2rem;
  margin: 0;
  color: red;
}

/* Needs to remain at the bottom so it is the last class applied */
.Invalid {
  border: 1px solid red;
}
