.Top {
  height: 6.4rem;
  width: 100%;
  background-color: #0c4b32;
}

.Bottom {
  padding: 1rem 20rem 0rem 20rem;
  display: flex;
  align-items: center;
  width: 75%;
  height: 6rem;
}

.Bottom h1 {
  margin: 0;
  margin-left: calc((100% - 75rem) / 2);
}

@media only screen and (max-width: 1050px) {
  .Bottom {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .Bottom {
    width: 90%;
    margin-left: 5%;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    margin-right: 5%;
  }

  .Bottom h1 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .Bottom {
    justify-content: space-between;
  }

  .Bottom h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .Bottom {
    flex-direction: column;
    height: 10rem;
  }

  .Bottom h1 {
    margin-bottom: 2rem;
  }
}
