.Register {
  padding: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Btn {
  width: 24.8rem;
  height: 4rem;
}

@media only screen and (max-width: 800px) {
  .Register {
    padding: 5rem;
  }
}
