.Post {
  margin: 1rem;
  border: 1px solid #eee;
  border-radius: 1rem;
}

.PostHeader {
  padding: 0.3rem 3rem;
  margin-bottom: 0.9rem;
  display: flex;
}

.Author {
  font-size: 1.4rem;
  color: #000;
  margin-right: 1rem;
}

.PostContent {
  padding: 0.3rem 4rem;
}

.OptionsRow {
  margin-top: 2rem;
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 0.5rem;
  padding-left: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ReplyWrapper {
  margin: 1rem;
}

.ReplyWrapper p {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 400;
}

.ReplyWrapper p span {
  color: red;
}

.ReplyBtn,
.NumComments {
  margin-left: 2rem;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  transition: all 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.NumComments {
  width: 15rem;
  margin-left: 0;
}

.ReplyBtn:hover,
.NumComments:hover {
  background-color: #eee;
  border-radius: 3px;
}

.ReplyBtn svg,
.NumComments svg {
  margin-right: 1rem;
}

.ReplyBtn span,
.NumComments span {
  padding-bottom: 0.3rem;
  font-size: 1.4rem;
}
