.PageFeedCard {
  display: flex;
  border: 1px solid #000;
  width: 75rem;

  margin: 2rem;
  border-radius: 1rem;
  background-color: #fff;
}

.PageFeedCard:last-child {
  margin-bottom: 0;
}

.Right {
  flex-grow: 1;
}

.Left {
  width: 5%;
}

.CardHeader {
  padding: 0.3rem 3rem;
  margin-bottom: 0.9rem;
  display: flex;
}

.Title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  margin-right: 1rem;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.3rem 3rem;
}

.Author {
  font-size: 1.4rem;
  color: #999;
  margin-right: 1rem;
}

.Group {
  font-size: 1.4rem;
  margin-right: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  height: 4.5rem;
}

.Group:hover p {
  border-bottom: 1px solid #000;
  padding-bottom: 0;
}

.PostContent {
  padding: 0.3rem 4rem;
  max-height: 20rem;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
}

.Blur {
  position: absolute;
  top: 15rem;
  left: 0;
  width: 110%;
  height: 8rem;
  z-index: 2;
  filter: blur(25px);
  background-color: #fff;
}
