*,
*::after,
*::before {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Lato';
  height: 100%;

  /* Variables */
  --color-red: #e17055;
  --color-white: #fff;
  --color-dark-blue: #0079d3;
  --color-dark-blue-hover: #1484d7;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  min-height: 100%;
  position: relative;
}

.Global-btn-1 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 1.8rem;
  background-color: var(--color-dark-blue);
  border-radius: 99rem;
  padding: 0 1.6rem;
  transition: color 0.1s ease-in;
  color: var(--color-white);
  border-style: none;
}

.Global-btn-1:hover {
  background-color: var(--color-dark-blue-hover);
  cursor: pointer;
}

.Global-btn-2 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 1.8rem;
  background-color: transparent;
  border-radius: 99rem;
  padding: 0 1.6rem;
  transition: color 0.1s ease-in;
  color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.Global-btn-2:hover {
  cursor: pointer;
  background-color: rgba(0, 121, 211, 0.04);
}
