*,
*::after,
*::before {
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Lato';
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
