.Btn,
.ForInitialBtn {
  height: 2.5rem;
  margin-left: 1rem;
}

.ForInitialBtn {
  margin-left: calc(100% - 9rem);
}

.Disabled {
  background-color: rgba(0, 121, 211, 0.5);
}

.Disabled:hover {
  background-color: rgba(0, 121, 211, 0.5);
  cursor: not-allowed;
}
